plattforms/android/.gradle/*
plattforms/android/assets/*
www/js/*
www/3rdparty/*
node_modules/*
node_modules/cordova-plugin-file/types/index.d.ts
platforms/browser/www/js/app.js
platforms/browser/www/js/app.js.map
platforms/browser/www/js/Attribute.js
platforms/browser/www/js/Attribute.js.map
platforms/browser/www/js/BilderFormField.js
platforms/browser/www/js/BilderFormField.js.map
platforms/browser/www/js/CheckboxFormField.js.map
platforms/browser/www/js/config-default.js
platforms/browser/www/js/config-default.js.map
platforms/browser/www/js/config.js
platforms/browser/www/js/config.js.map
platforms/browser/www/js/configurations.js
platforms/browser/www/js/configurations.js.map
platforms/browser/www/js/DataViewField.js
platforms/browser/www/js/DataViewField.js.map
platforms/browser/www/js/DateFormField.js
platforms/browser/www/js/DateFormField.js.map
platforms/browser/www/js/DateTimeFormField.js
platforms/browser/www/js/DateTimeFormField.js.map
platforms/browser/www/js/Feature.js
platforms/browser/www/js/Feature.js.map
platforms/browser/www/js/GeometryFormField.js
platforms/browser/www/js/GeometryFormField.js.map
platforms/browser/www/js/gpsStatus.js
platforms/browser/www/js/gpsStatus.js.map
platforms/browser/www/js/Layer.js
platforms/browser/www/js/Layer.js.map
platforms/browser/www/js/networkStatus.js
platforms/browser/www/js/networkStatus.js.map
platforms/browser/www/js/Overlay.js
platforms/browser/www/js/Overlay.js.map
platforms/browser/www/js/SelectFormField.js
platforms/browser/www/js/SelectFormField.js.map
platforms/browser/www/js/Stelle.js
platforms/browser/www/js/Stelle.js.map
platforms/browser/www/js/Sync.js.map
platforms/browser/www/js/syncStatus.js
platforms/browser/www/js/syncStatus.js.map
platforms/browser/www/js/teststyle.js
platforms/browser/www/js/teststyle.js.map
platforms/browser/www/js/TextfeldFormField.js
platforms/browser/www/js/TextfeldFormField.js.map
platforms/browser/www/js/TextFormField.js
platforms/browser/www/js/TextFormField.js.map
platforms/browser/www/js/UserFormField.js
platforms/browser/www/js/UserFormField.js.map
platforms/browser/www/js/UserIDFormField.js
platforms/browser/www/js/UserIDFormField.js.map
platforms/browser/www/js/ZahlFormField.js
platforms/browser/www/js/ZahlFormField.js.map
platforms/browser/www/js/controller/files.js
platforms/browser/www/js/controller/files.js.map
platforms/browser/www/js/controller/mapper.js
platforms/browser/www/js/controller/mapper.js.map
www/js/app.js
www/js/Attribute.js
www/js/BilderFormField.js
www/js/config-default.js
www/js/configurations.js
www/js/DataViewField.js
www/js/DateFormField.js
www/js/DateTimeFormField.js
www/js/Feature.js
www/js/GeometryFormField.js
www/js/gpsStatus.js
www/js/Layer.js
www/js/networkStatus.js
www/js/Overlay.js
www/js/SelectFormField.js
www/js/Stelle.js
www/js/syncStatus.js
www/js/teststyle.js
www/js/TextfeldFormField.js
www/js/TextFormField.js
www/js/UserFormField.js
www/js/UserIDFormField.js
www/js/ZahlFormField.js
www/js/controller/files.js
www/js/controller/mapper.js
