<?xml version='1.0' encoding='utf-8'?>
<widget id="de.gdiservice.kvmobile" version="1.4.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>kvwmobile</name>
    <description>
      Anwendung zur Erfassung von Geodaten und zum synchronisieren mit dem Web-GIS kvwmap.
    </description>
    <author email="peter.korduan@gdi-service.de" href="http://kvwmap.de/index.php/kvmobile">
        GDI-Service Dr. Peter Korduan
    </author>
    <content src="index.html" />
    <access origin="https://gdi-service.de/kvwmap_pet_dev/*" />
    <access origin="https://geoportal.lkros.de/kvwmap_dev/*" />
    <access origin="https://geoportal.lkros.de/kvwmap_test/*" />
    <access origin="https://www.orka-mv.de/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="^2.4.1" />
    <plugin name="cordova-plugin-compat" spec="^1.1.0" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-sqlite-evplus-legacy-attach-detach-free" spec="git+https://github.com/litehelpers/Cordova-sqlite-evplus-legacy-attach-detach-free.git#evplus-legacy-attach-detach-master" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="com.ionic.keyboard" spec="https://github.com/Telerik-Verified-Plugins/Keyboard" />
    <plugin name="cordova-plugin-file-opener2" spec="^2.0.19" />
    <engine name="android" spec="^6.4.0" />
</widget>
