<?xml version='1.0' encoding='utf-8'?>
<widget id="de.gdiservice.kvmobile" version="1.14.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>kvwmobile</name>
    <description>
      Anwendung zur Erfassung von Geodaten und zum synchronisieren mit dem Web-GIS kvwmap.
    </description>
    <author email="peter.korduan@gdi-service.de" href="http://kvwmap.de/index.php/kvmobile">
        GDI-Service Dr. Peter Korduan
    </author>
    <content src="index.html" />
    <access origin="https://dev.gdi-service.de/kvwmap_pet_dev/*" />
    <access origin="https://gdi-service.de/kvwmap_pet_dev/*" />
    <access origin="https://geoportal.lkros.de/kvwmap_dev/*" />
    <access origin="https://geoportal.lkros.de/kvwmap_test/*" />
    <access origin="https://geoportal.lkros.de/kvwmap_lro/*" />
    <access origin="https://geoportal-vg.de/kvwmap/*" />
    <access origin="https://geoportal-vg.de/kvwmap_test/*" />
    <access origin="https://geoport.lk-vr.de/kvwmap/*" />
    <access origin="https://geoport-lk-mse.de/kvwmap/*" />
    <access origin="https://geoport-lk-mse.de/supergis/*" />
    <access origin="https://geoportal.lkee.de/*" />
    <access origin="https://www.orka-mv.de/*" />
    <access origin="https://isk.geobasis-bb.de/mapproxy/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="file:*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />        
        <config-file mode="merge" parent="/*" target="AndroidManifest.xml">
            <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-camera" spec="^7.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^2.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
	<plugin name="cordova-sqlite-storage" spec="^6.1.0" />
    <plugin name="cordova-plugin-file-opener2" spec="^4.0.0" />
    <icon density="mdpi" height="57" platform="android" src="res/icon/gdi-service_ball.png" width="57" />
</widget>
