* {
  margin: 0;
  padding: 0;
}

body {
  font: 100.01% Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

label {
  display: inline-block;
}

.b-collapsed:before {
  content: "\25BA\0020";
  color: #263286;
}

.b-expanded:before {
  content: "\25F8\0020";
  color: #263286;
}

.h2-div+div {
  display: none;
}

.settings-label {
  width: 200px;
  margin-right: 5px;
  float: left;
  padding-top: 10px;
}

.mapSetting {
  float: right;
}

#mapSettingsDiv>input {
  width: 100px;
}

#mapSettingsDiv>select {
  width: 60px;
}

.style-layer-ok-button {
  display: none;
  float: right;
}

.style-layer-setting-label {
  float: left
}

.style-layer-setting-input {
  /*position: absolute;*/
  /*left: 150px;*/
  margin-left: 10px
}

.style-layer-setting-div {
  height: 36px
}

.use-custom-style-div {
  height: 36px;
}

.layer-functions-button {
  width: 38px;
  height: 38px;
  margin-top: -7px;
  float: right;
  color: gray;
  display: none;
}

.layer-functions-div {
  display: none;
  background-color: #fdebeb;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
}

.layer-function-button {
  margin: 5px;
  width: 37px;
}

.overlay-functions-button {
  width: 38px;
  height: 38px;
  margin-top: -7px;
  float: right;
  color: gray;
}

.overlay-functions-div {
  display: none;
  background-color: #fdebeb;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px 2px 17px 2px;
}

.overlay-function-button {
  margin: 5px;
}

h1 {
  margin-top: 9px;
  margin-bottom: 7px;
  font-size: 26px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 22px;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="radio"] {
  /*  width: 56px;
  height: 56px; */
  cursor: pointer;
}

input[type="text"],
input[type="datetime-local"],
input[type="password"],
select,
textarea {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  /*  display: inline-block;*/
  border: 1px solid rgb(38, 50, 134);
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input[type="date"] {
  padding: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  border: 1px solid rgb(38, 50, 134);
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input:disabled {
  background-color: #dfdfdf;
}

input[type="number"] {
  width: 80px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  border: 1px solid rgb(38, 50, 134);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

button#gpsControlButton.kvm-gps-off {
  background-color: gray;
  color: white;
}

button#gpsControlButton.kvm-gps-on {
  background-color: lightgray;
  color: blue;
  border-color: lightgray;
}

button#gpsControlButton.kvm-gps-track {
  background-color: blue;
  color: white;
}

.selected-feature-item {
  border-color: #ff2828 !important;
  box-shadow: 0px 0px 5px 5px #ff2828 !important;
}

.leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
  background-size: 20px 20px !important;
}

.leaflet-popup {
  font-size: 20px;
}

/*a.hover {

}*/
.col-xs-3 {
  width: 25%;
}

.clear {
  clear: both;
}

#formDiv {
  display: table;
  font-size: 24px;
  width: 100%;
}

.form-field {
  display: table-row;
}

.form-label {
  width: 30%;
  display: table-cell;
  padding-left: 4px;
  padding-top: 5px;
  border-bottom: 0px solid white;
  padding-bottom: 5px;
  background-color: #dfdfdf;
  border-top: 2px solid white;
  padding-right: 4px;
}

.form-value {
  display: table-cell;
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  width: 70%;
  border-top: 0px solid lightgray;
}

#filterViewDiv {
  display: table;
  font-size: 24px;
  width: 100%;
}

#attributeFilterFieldDiv {
  word-break: break-word;
}

.filter-view-field {
  display: table-row;
}

.filter-view-label {
  /*  width: 30%; */
  display: table-cell;
  padding-left: 2px;
  padding-top: 5px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  border-top: 2px solid white;
  padding-right: 2px;
}

.filter-view-operator {
  display: table-cell;
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  /*  width: 12%; */
  border-top: 0px solid lightgray;
}

.filter-view-value {
  display: table-cell;
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  /*  width: 60%; */
  border-top: 0px solid lightgray;
}

#dataViewDiv {
  display: table;
  font-size: 24px;
  width: 100%;
}

.data-view-field {
  display: table-row;
}

.data-view-label {
  width: 30%;
  display: table-cell;
  padding-left: 12px;
  padding-top: 5px;
  border-bottom: 0px solid white;
  padding-bottom: 5px;
  background-color: #dfdfdf;
  border-top: 2px solid white;
  padding-right: 12px;
}

.data-view-value {
  display: table-cell;
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  width: 70%;
  border-top: 0px solid lightgray;
}

.feature-item {
  font-size: 24px;
  color: #263286;
  background-color: #f4ffde;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

/*
.popup-link {
  
}*/

.visible {
  display: block;
}

.hidden {
  display: none;
}

.feature-status-0 {
  background-color: #dd8181;
}

.feature-status-1 {
  background-color: #465dc0;
}

.feature-status-2 {
  background-color: #23a325;
}

.feature-status-3 {
  background-color: #26a7f1;
}

.kvm-gps-control {
  top: 6px;
  right: 6px;
  z-index: 3;
}

.settings-button {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #263286;
  background: #e6ffb2;
  margin-bottom: 5px;
  font-size: 18px;
}

.settings-button-active {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #263286;
  background: #ffc8d0;
  margin-bottom: 5px;
  font-size: 18px;
}

.menu-button {
  color: #263286;
}

.menu-button:hover {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.inactive-button {
  cursor: pointer;
  color: gray;
}

.active-button {
  cursor: pointer;
  color: #263286;
}

.active-layer {
  font-weight: bold;
}

.text-button {
  font-size: 30px;
  border: 2px solid #263286;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: white;
}

.form-div {
  border: 1px solid rgb(38, 50, 134);
}

.gps-signal-level-0>.bar-1,
.gps-signal-level-0>.bar-2,
.gps-signal-level-0>.bar-3,
.gps-signal-level-0>.bar-4,
.gps-signal-level-0>.bar-5 {
  fill: rgb(236, 236, 236);
}

.gps-signal-level-1>.bar-1 {
  fill: #263286;
}

.gps-signal-level-2>.bar-1,
.gps-signal-level-2>.bar-2 {
  fill: #263286;
}

.gps-signal-level-3>.bar-1,
.gps-signal-level-3>.bar-2,
.gps-signal-level-3>.bar-3 {
  fill: #263286;
}

.gps-signal-level-4>.bar-1,
.gps-signal-level-4>.bar-2,
.gps-signal-level-4>.bar-3,
.gps-signal-level-4>.bar-4 {
  fill: #263286;
}

.gps-signal-level-5>.bar-1,
.gps-signal-level-5>.bar-2,
.gps-signal-level-5>.bar-3,
.gps-signal-level-5>.bar-4,
.gps-signal-level-5>.bar-5 {
  fill: #263286;
}

.img {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  color: lightgray;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 200px;
}

.login {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  border: 0;
}

.login-header {
  width: 100%;
  background-color: #7c9b3b;
  padding: 8px;
  text-align: left;
  color: #263286;
  margin-bottom: 150px;
}

#short_password_div {
  display: none;
  margin: auto;
  width: 50%;
  border: 0;
  padding: 10px;
  text-align: left;
}

#short_password_label {
  font-size: 17px;
}

#short_password_field {
  font-family: inherit;
  width: calc(100% - 35px);
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  margin-top: 7px;
  padding: 7px 0px;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 0;
  text-align: center;
}

#short_password_field:focus {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 30%);
}

#password_div {
  display: none;
  margin: auto;
  width: 50%;
  border: 0;
  padding: 10px;
  text-align: left;
}

#password_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  margin-top: 7px;
  padding: 7px 7px 7px 7px;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 0;
  text-align: left;
  width: calc(100% - 35px);
}

#password_ok_button {
  display: none;
  padding: 3px;
  font-size: 17px;
  margin-left: 7px;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 30%);
}

.deb {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background-color: white;
  /* Fallback color */
  color: black;
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
}

.v-scroll-div {
  clear: both;
  height: 845px;
  overflow: auto;
  display: none;
}

#geoLocationButton {
  color: #263286;
  cursor: pointer;
}

#kopfbereich {
  display: flex;
  background-color: #7c9b3b;
  padding: 8px;
}

#settings {
  margin-left: 2px;
  margin-right: 2px;
}

#layer_list {
  margin-top: 10px;
}

#overlay_list {
  margin-top: 10px;
}

#loggings {
  margin-left: 10px;
  margin-right: 10px;
}

// #featurelist {
// //  background-color: lightgray;
// }

#map {
  clear: both;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
}

#gps-signal-icon {
  fill: rgb(236, 236, 236);
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

/* The slider itself */
.camera-options-slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 60%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.camera-options-slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.camera-options-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4caf50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.camera-options-slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4caf50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* The slider itself */
.min-track-distance-slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 60% !important;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.min-track-distance-slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.min-track-distance-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4caf50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.min-track-distance-slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4caf50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.fa-2x {
  font-size: 30px;
}

.no-popup-functions {
  display: none;
}